
        <div class="blog-post">
          <h2 class="blog-post-title">Aller Anfang ist schwer.</h2>
          <p class="blog-post-meta">Sonntag, 24. Juli 2016 <a href="mailto:jimoser@mac.com">Jim Oser</a></p>
	<p>Heute sollte ich meine OpenHPI Hausaufgabe anfangen.</p>
        </div> <!-- /.blog-post -->
