
        <div class="blog-post">
          <h2 class="blog-post-title">Anforderungen</h2>
          <p class="blog-post-meta">Samstag, 30. Juli 2016 <a href="mailto:jimoser@mac.com">Jim Oser</a></p>
          <p>Hinweise zur Abgabe und dem Upload der eigenen Seite</p>
          <blockquote>
            <p>Herzlich willkommen zum letzten Teil dieses Kurses, der Erstellung der eigenen Website.</p>
            <p>Ihr habt ja bisher in der ersten Woche den grundlegenden Umgang mit HTML &amp; CSS gelernt, in der zweiten Woche ging es dann an die Erstellung einer ersten vollständigen Website.</p>
            <p>Dies möchten wir nun vertiefen und dem Ganzen einen Rahmen geben. In diesem Teil könnt ihr nochmals 50 Punkte erreichen. Ablaufen wird das Ganze per sogenanntem Peer Assessment, dabei bewertet ihr drei Abgaben von anderen Kursteilnehmern und werdet dafür auch von drei anderen bewertet. </p>
            <p>Damit die Bewertung eine klare Struktur hat, gibt es festgelegte Bewertungskriterien, welche am Ende des Textes euch im Vorfeld schon einmal bekannt gemacht werden, sodass ihr eure Website nach diesen Kriterien erstellen könnt. Außerdem könnt ihr, bevor ihr andere Teilnehmer bewertet, außerdem an einem Beispiel üben, wie so eine Bewertung abläuft - ihr seht, welche Punkte wir als Teaching-Team verteilt haben und könnt daran erkennen, wie ihr bewerten solltet.</p>
            <p>Um am Peer Assessment teilzunehmen, müsst ihr eure Website hier bei openHPI hochladen, und zwar gepackt in eine ZIP-Datei. Dafür klickt ihr (unter Windows) einfach rechts auf den Ordner, in dem eure komplette Website liegt und wählt dann Senden an -&gt; ZIP-komprimierter Ordner aus. Die dabei entstehende Datei könnt ihr dann hier hochladen. Sinnvollerweise verwendet ihr dabei das Framework, welches wir euch in Woche 2 zur Verfügung gestellt haben. Müsst ihr aber nicht, dies ist keine formale Vorraussetzung, es gilt nur die u.g. Bewertungskriterien zu erfüllen.</p>
            <p>Um alle Bonuspunkte erhalten zu können musst du auch sechs weitere Teilnehmer bewerten. Dazu hast du nach der Bewertung von drei Abgaben noch die Möglichkeit, weitere drei Abgaben zu bewerten. </p>
            <p>Falls es noch Fragen gibt, postet sie einfach im Forum!</p>
            <p><em>Bewertungskriterien</em></p>
            <ul>
              <li>5 Punkte: Allgemeiner subjektiver Eindruck</li>
              <li>2 Punkte: Es wurden mindestens zwei statische Seiten, impressum.html und eine Seite zur Selbstdarstellung (zum Beispiel ueber-mich.html) angelegt.</li>
              <li>3 Punkte: Die zwei oben genannten statischen Seiten wurden auch mit sinnvollem Inhalt gefüllt und nicht nur Platzhaltertexten.</li>
              <li>2 Punkte: Mindestens zwei Inhaltsseiten (zB Artikel für einen Blog) wurden angelegt</li>
              <li>3 Punkte: Die Artikel/Inhaltsseiten sind mit sinnvollem Inhalt gefüllt und nicht nur Platzhaltertexten. Außerdem ist pro Seite auch mindestens ein Bild vorhanden.
              </li>
              <li>3 Punkte: Auf der Startseite (index.html) werden mindestens zwei Artikel/Inhaltsseiten verlinkt, inklusive Überschrift, Kurztext und Bild.</li>
              <li>3 Punkte: Die Navigationsleiste sollte auf alle statischen Seiten verlinken, bei vielen statischen Seiten sollte ein Dropdown eingebunden sein. Wenn man sich auf einer statischen Seite befindet, sollte diese in der Navigationsleiste auch entsprechend hervorgehoben werden. Selbstverständlich ist die Navigationsleiste (bis auf die Hervorhebung) auf allen Seiten gleich.</li>
              <li>3 Punkte: Zusätzlich Dateien (zum Beispiel Bilder, CSS-Dateien, ...) befinden sich in entsprechenden Unterordnern und nicht im Hauptordner, wo auch die index.html liegt.</li>
              <li>2 Punkte: Alle Dateien sind sinnvoll benannt, je nach Zweck bzw. Inhalt.</li>
              <li>4 Punkte: Die Seiten sind frei von groben Layoutfehlern (zum Beispiel Bilder, die Texte überdecken, Überschriften, die nicht sichtbar sind, Bilder, die über den Rand hinaus ragen, ...)</li>
              <li>3 Punkte: Die HTML-Tags wurden, wo notwendig, mit sinnvollen Klassen/IDs gekennzeichnet</li>
              <li>3 Punkte: Es wurden mindestens 10 eigene CSS-Angaben in einer zusätzlichen CSS-Datei geschrieben</li>
              <li>3 Punkte: Alle Bilder wurden mit einem alt-Attribut versehen und dieses mit sinnvollem Inhalt ausgefüllt.</li>
              <li>2 Punkte: Es wurden sinnvolle Meta-Tags gesetzt, zum Beispiel date, author, charset</li>
              <li>2 Punkte: Weitere technische Fehler (Punktabzug, falls dem Prüfer Fehler auffallen, ansonsten volle Punktzahl dafür)</li>
              <li>2 Punkte: Das hinzugefügte CSS-Dokument mit dem eigenen CSS-Code ist fehlerfrei (Zu Überprüfen hiermit: <a href="https://jigsaw.w3.org/css-validator/#validate_by_upload">https://jigsaw.w3.org/css-validator/#validate_by_upload</a>)</li>
              <li>5 Punkte: HTML-Dokumente sind fehlerfrei (Zu Überprüfen hiermit: <a href="https://validator.w3.org/#validate_by_upload">https://validator.w3.org/#validate_by_upload</a>)</li>
            </ul>
          </blockquote>
        </div> <!-- /.blog-post -->
