<div class="blog-post">
  <% if false %>
  <h2 class="blog-post-title">Links to favorite German websites.</h2>
    <p class="blog-post-meta date-hidden">Samstag, 30. Juli 2016 <a href="mailto:jimoser@mac.com">Jim Oser</a></p>
  <% end %>
<h2>California Spanish Groups</h2>
<ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Lake Tahoe Community College Intensive Spanish Summer Institute", "http://www.ltcc.edu/issi", target:"_blank" %>
  <p>
  If you live in California, you might find this a bargain.
  </p>
  <p>
  Lake Tahoe Community College Intensive Summer Institute. 500 people show up at Lake Tahoe every summer for one week to learn Spanish.
  </p>
  <p>
  If you happen to be a California resident, this is a great bargain, because you pay resident community college fees.
  </p>
  <p>
  If you live outside of California or outside of USA, then this might not be such a good deal.
  </p>
  <p>
  Classes are Monday, July 28 - Friday, August 1, 2025. Registration opens May 19, 2025. 
  </p>




  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Conversation Club in Spanish at Novato Library", "https://marinlibrary.bibliocommons.com/events/646ec37410d9b04ac6f27b34", target: "_blank" %>
  <p>
   Meets from 4 pm  - 5:30 pm at the Novato Library on Tuesdays.
  </p>
      <address>
        Novato Library<br>
        1720 Novato Blvd.<br>
        Novato<br>
    </address>
    <p>
    Type of Event: Workshops & Classes<br>
    Audience:  Adults, Spanish/Bilingual<br>
    Summary: Would you like to practice your Spanish conversation skills?<br>
    </p>
    <p>
    Be a part of this weekly free program. At every class there will be a facilitator from the Novato Library. You will enjoy practicing Spanish conversation with your peers.</p>
    <p>
    For more information, please call 415-473-2050.
    </p>
    <p>
    Sponsored by the County of Marin and Friends of the Marin County Free Library.
    </p>
  </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
    <%= link_to "meetup.com", "https://www.meetup.com", target: "_blank" %>
    <p>Search: <blockquote>Spanish</blockquote> for other Spanish meetup groups in your area.
    </p>
    </li>
  </ul>
</div>

<p>Please also see:<br>Spanish online activities, which are available on the Internet from anywhere in the world:<br> <%= link_to "Online: classes, videos, etc.", espanol_path %> </p>
<br>

